{% extends "base.html" %}
{% block title %}
IT Services & Consulting | Enterprise Solutions | Mobile Devlopment | Outsourcing
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    
    <div class="list-group">
      <a href="#" class="list-group-item">Web Developement</a>
      <a href="#" class="list-group-item">Mobile Development</a>
      <a href="#" class="list-group-item">Content Writing</a>
      <a href="#" class="list-group-item">Financial Services</a>
    </div>
  
  </div>
  <div class="col-md-7">
    <div class="row job-list">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
      <div class="col-md-2" >25000</div>
      <div class="col-md-2" >April 8</div>
      <div class="col-md-2" >Full time</div>
    </div>
     <div class="row job-list">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
      <div class="col-md-2" >25000</div>
      <div class="col-md-2" >April 8</div>
      <div class="col-md-2" >Full time</div>
    </div>
 <div class="row job-list">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
      <div class="col-md-2" >25000</div>
      <div class="col-md-2" >April 8</div>
      <div class="col-md-2" >Full time</div>
    </div>
 <div class="row job-list">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
      <div class="col-md-2" >25000</div>
      <div class="col-md-2" >April 8</div>
      <div class="col-md-2" >Full time</div>
    </div>
 <div class="row job-list">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Looking glass Cyber Solutions</div>
      <div class="col-md-2" >25000</div>
      <div class="col-md-2" >April 8</div>
      <div class="col-md-2" >Full time</div>
    </div>
    
  </div>
  <div class="col-md-2">
    <a href="#" class="btn btn-primary btn-lg btn-block">
      Post a Project
      
    </a>
    </div>
</div>
{% endblock %}
