{% extends "base.html" %}
{% block title %}
IT Services & Consulting | Enterprise Solutions | Mobile Devlopment | Outsourcing
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">Web applications</li>
      <li class="list-group-item">Film and videography</li>
      <li class="list-group-item">Events</li>
    </ul>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-6">Senior/Principal <a href="#">Software Development Engineer</a> at Lookingglass Cyber Solutions</div>
      <div class="col-md-2">25000</div>
      <div class="col-md-2">April 8</div>
      <div class="col-md-2">Full time</div>
    </div>
    
  </div>
  <div class="col-md-2">
    <div>
      <a href="#" class="btn btn-primary btn-lg btn-block">
	Post a Project
      
      </a>
    </div>
    
  </div>
</div>
{% endblock %}
