{% extends "site-base.html" %}
{% block title %}
Real Estate listing web application and mobile application
{% endblock %}
{% block content %}
<div class="container">
 
  <div class="panel panel-default">
    <div class="panel-body">
       <h2>Real Estate listing web application and mobile application</h2>
       
       <p><strong>Budget : </strong>$25000</p>
       <p><strong>Technology : </strong> Any (Need Web, Android and iOS applications)</p>
       <p><strong>Client Details:</strong> *Hidden*</p>
       <p><strong>Client Location : </strong> New York (USA)</p>
       <p><strong>Posted Date : </strong> May 8 2015</p>
       <h4>Details</h4>
       <p>
	 We need a real estate listing application which can run on any new browsers and smart phones (Android and iOS devices for now).
       </p>
       <p>The application must make use of GPS services to show the location of the properties on a map. We need to add other details like crime rates, GDP..etc of the nearby dwellers from API services.
	 We need an option to add nearby services like hospitals, cafes, schools..etc. A real estate agent can register at the site and add her/his properties. We will deduct a fee for listing. So there must be a payment integration in the site. There will be admin users who can add other users and give/remove privileges to add properties and services.</p>
       
       <p>The phone application is for viewing and searching properties. User should be able to view the properties on a map application in phone.</p>
       <p>The contractor must provide designs, well documented code and documentation on how to use the app. You will have to setup the servers. The contractor should be able to provide support in the future which will be another contract. It will be great if you can give us some details on how much will it cost per month for support.</p>
       <p>Quality of the application is important. Please let us know if you can launch the application in 6 months time(before January 2016).</p>
       <h4>Other Details</h4>
       <p>We should be able to communicate with the development team directly. No middleman.</p>
       <p>We need a weekly update on how things are going. It will be great if you can provide a demo of updates as soon as you finish some features.</p>
       <p>We prefer companies, but freelancers can also apply. You must sign an NDA. Payments will be done through paypal/bank transfer on weekly basis. We can cover the transaction fees.</p>
       <p>Send a detailed quote describing why we should choose you. Please include any questions you have. The subject of the email must begin with RB592653. Otherwise the email will be discarded.</p>
       <h4>Contact:</h4>
       <p>Send your bids to: <strong>info@centipair.com</strong></p>
    </div>
  </div>
</div>
{% endblock %}
