{% extends "business/base.html" %}
{% block title %}
Predictive analysis tool for financial markets
{% endblock %}
{% block content %}
<h1>Predictive analysis platform for financial markets</h1>
<table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Day 1</th>
          <th>Day 2</th>
	  <th>Day 3</th>
	  <th>Day 4</th>
          <th>Day 5</th>
	  <th>Day 6</th>
	  <th>Day 7</th>
          <th>Day 8</th>
	  <th>Day 9</th>
	  <th>Day 10</th>
          <th>Day 11</th>
	  <th>Day 12</th>
	  <th>Day 13</th>
          <th>Day 14</th>
	  <th>Day 15</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Close higher</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Open higher</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
